<html>
  <head>
    <title>Pi Video Surveillance</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>

  </head>
  <body>
    <img src="{{ url_for('video_feed') }}">

    <script type="text/javascript"> 
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

        // Event handler for receiving the dictionary from the backend
        socket.on('dictionary', function(dictionary) {
           console.log(dictionary)
            
        });

        // Send an event to request the dictionary from the backend
        socket.emit('get_dictionary');
    </script>
  </body>